{% load static %}
<html>
    <head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-size=1.0">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>WINA/main</title>
    </head>
    <body>
        <div class="page-header">
	<header>
        <div class="topnavbox">
            <div id="sitename">
                <a href="main.html"><h1>WINA</h1></a>
            </div>

            <nav>
                <ul class="topnav">
		{% if user.is_authenticated %}
		<li class="topnav-item"> <a href="">about</a></li>
		<li class="topnav-item"> <a href="{% url 'logout' %}">logout</a></li>
		<li class="topnav-item"> <a href="">{{ user.username }}</a></li>
                {% else %}
		<li class="topnav-item"> <a href="">about</a></li>
                <li class="topnav-item"> <a href="{% url 'login' %}">Login</a></li>
                <li class="topnav-item"> <a href="">회원가입</a></li>
		{% endif %}    
		    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

                </ul>
            </nav>
        </div>

        <div class="mainnavbox">
            <nav>
                <ul class="mainnav">
                    <li class="nav-item"> <a href="AGORA.html">AGORA</a></li>
                    <li class="nav-item"> <a href="AGGORA.html">아꼬라</a></li>
                    <li class="nav-item"> <a href="honor.html">명예의 전당</a></li>
                    <li class="nav-item"> <a href="QnA.html">Q＆A</a></li>
                </ul>
            </nav>
        </div>
    </header>
        </div>
	<div class="content container">
    		<div class="row">
        		<div class="col-md-8">
			{% block content %}
			{% endblock %}
        		</div>
    		</div>
	</div>
    </body>
</html>
